%ic {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
}

._icon-copyright1:before {
    content: "\e919";
    color: #fff;
}

._icon-copyright:before {
    content: "\e91a";
    color: #d1d5db;
}

._icon-email:before {
    content: "\e918";
}

._icon-twitter:before {
    content: "\e900";
    color: #fff;
}

._icon-gmail .path1:before {
    content: "\e901";
    color: rgb(255, 255, 255);
}

._icon-gmail .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(0, 148, 255);
}

._icon-gmail .path3:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(3, 164, 0);
}

._icon-gmail .path4:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 230, 0);
}

._icon-gmail .path5:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 9, 9);
    opacity: 0.86;
}

._icon-facebook:before {
    content: "\e906";
    color: #2044ff;
}

._icon-Github-icon:before {
    content: "\e907";
    color: #fff;
}

._icon-instagram:before {
    content: "\e908";
}

._icon-Linkedin .path1:before {
    content: "\e909";
    color: rgb(0, 126, 187);
}

._icon-Linkedin .path2:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(254, 255, 252);
}

._icon-Linkedin .path3:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(254, 255, 252);
}

._icon-logo-github:before {
    content: "\e90c";
    color: #fff;
}

._icon-messenger:before {
    content: "\e90d";
    color: #fff;
}

._icon-telegram .path1:before {
    content: "\e90e";
    color: rgb(0, 0, 0);
}

._icon-telegram .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

._icon-upwork .path1:before {
    content: "\e910";
    color: rgb(111, 218, 68);
}

._icon-upwork .path2:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

._icon-viber:before {
    content: "\e912";
}

._icon-whatsapp .path1:before {
    content: "\e913";
    color: rgb(255, 255, 255);
}

._icon-whatsapp .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(100, 177, 97);
}

._icon-whatsapp .path3:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

._icon-whatsapp .path4:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

._icon-youtube:before {
    content: "\e917";
    color: #fff;
}