.first-page {
    display: flex;
    position: relative;
    padding: rem(20) 0;

    h1 {
        @include adaptiveValue("font-size", 100, 20);
        @include adaptiveValue("line-height", 100, 20);
        text-transform: uppercase;

        @media(max-width: 1440px) {}

        span {
            display: block;
            font-weight: 700;
        }
    }

    .portret-block-wrapper {
        position: absolute;
        left: 55%;
        z-index: -1;
        flex: 0.5;
        padding: rem(75);
    }

    .portret-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: rem(100);
        }

        h2 {
            position: absolute;
            top: 100%;
            transform: translateY(-100%) rotate(20deg);
            color: $redLihgt;
            text-shadow: 3.46px 4.613px 8.419px $red;
            -webkit-text-stroke: 3px $white;
            @include adaptiveValue("font-size", 90, 0);
            font-weight: 700;
            text-align: center;
        }
    }


    .text-block {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 50, 0);
        margin-left: rem(50);
        flex: 0.6;

        @media(max-width: rem(1440)){
            @include adaptiveValue("gap", 40, 0);
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 50, 0);
        @media(max-width: rem(1440)){
            @include adaptiveValue("gap", 20, 0);
        }

        p:first-child {
            color: $darkColorPurple;
            @include adaptiveValue("font-size", 70, 0);
            font-weight: 700;
            @include adaptiveValue("line-height", 75, 20);
            letter-spacing: 0.12rem;
            text-shadow: rem(1) rem(1) rem(2) $black, rem(4) rem(4) rem(5) $mainColorPuprple;
            text-align: center;
        }

        p:last-child {
            color: $red;
            text-align: center;
            text-shadow: 7.644px 5.46px 8.299px #8838C6;
            -webkit-text-stroke: 1px $white;
            /* Толщина и цвет обводки (для WebKit браузеров) */
            @include adaptiveValue("font-size", 60, 0);
            font-weight: 700;
            @include adaptiveValue("line-height", 70, 20);
        }
    }

    .bg-img-homepage {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -5;
        opacity: 0.3;
        transform: translate(-60%, -50%) rotate(10deg);
        height: 90%;
    }
}