.first-page {
    display: flex;
    position: relative;
    padding: rem(20) 0;

    h1 {
        font-size: 7rem;
        line-height: 6rem;
        text-transform: uppercase;

        span {
            display: block;
            font-weight: 700;
        }
    }

    .portret-block-wrapper {
        position: absolute;
        left: 55%;
        z-index: -1;
        flex: 0.5;
        padding: rem(75);
    }

    .portret-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: rem(100);
        }

        h2 {
            position: absolute;
            top: 100%;
            // left: 5%;
            transform: translateY(-100%) rotate(20deg);
            color: $redLihgt;
            text-shadow: 3.46px 4.613px 8.419px $red;
            -webkit-text-stroke: 3px $white;
            font-size: 6.5rem;
            font-weight: 700;
            text-align: center;
        }
    }


    .text-block {
        display: flex;
        flex-direction: column;
        gap: rem(50);
        margin-left: rem(50);
        flex: 0.6;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: rem(50);

        p:first-child {
            color: $darkColorPurple;
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4rem;
            letter-spacing: 0.12rem;
            text-shadow: rem(1) rem(1) rem(2) $black, rem(4) rem(4) rem(5) $mainColorPuprple;
            text-align: center;

            @media(max-width: 1440px) {
                font-size: 4rem;
            }
        }

        p:last-child {
            color: $red;
            text-align: center;
            text-shadow: 7.644px 5.46px 8.299px #8838C6;
            -webkit-text-stroke: 1px $white;
            /* Толщина и цвет обводки (для WebKit браузеров) */
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            /* 146.617% */
        }
    }

    .bg-img-homepage {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -5;
        opacity: 0.3;
        transform: translate(-60%, -50%) rotate(10deg);
        height: 90%;
    }
}